version: '3.3'

services:
  spark-worker-b1:
    image: apache/spark:3.5.7-python3
    container_name: spark-worker-b1
    environment:
      - SPARK_MODE=worker
      - SPARK_MASTER_URL=spark://49.52.27.112:7077
      - SPARK_WORKER_MEMORY=2G
      - SPARK_WORKER_CORES=2
      - SPARK_WORKER_WEBUI_PORT=8083
      - SPARK_WORKER_PORT=7083
      - SPARK_RPC_AUTHENTICATION_ENABLED=no
      - SPARK_RPC_ENCRYPTION_ENABLED=no
      - SPARK_SSL_ENABLED=no
    network_mode: host
    command: >
      bash -c "
      /opt/spark/sbin/start-worker.sh spark://49.52.27.112:7077 --webui-port 8083 --port 7083 && tail -f /opt/spark/logs/spark--org.apache.spark.deploy.worker.Worker-*.out"
    restart: unless-stopped
