version: "3.8"

services:
  spark-master:
    image: apache/spark:3.5.7-python3
    container_name: spark-master
    hostname: spark-master
    command: >
      bash -c "/opt/spark/sbin/start-master.sh &&
               tail -f /dev/null"
    ports:
      - "7077:7077"
      - "8080:8080"
    volumes:
      - /home/lhy:/workspace
      - /tmp/spark-events:/tmp/spark-events
    networks:
      - spark-net

  spark-worker-1:
    image: apache/spark:3.5.7-python3
    container_name: spark-worker-1
    hostname: spark-worker-1
    command: >
      bash -c "/opt/spark/sbin/start-worker.sh spark://spark-master:7077 &&
               tail -f /dev/null"
    ports:
      - "8081:8081"
    volumes:
      - /home/lhy:/workspace
      - /tmp/spark-events:/tmp/spark-events
    networks:
      - spark-net

  spark-worker-2:
    image: apache/spark:3.5.7-python3
    container_name: spark-worker-2
    hostname: spark-worker-2
    command: >
      bash -c "/opt/spark/sbin/start-worker.sh spark://spark-master:7077 &&
               tail -f /dev/null"
    ports:
      - "8082:8081"
    volumes:
      - /home/lhy:/workspace
      - /tmp/spark-events:/tmp/spark-events
    networks:
      - spark-net

  history-server:
    image: apache/spark:3.5.7-python3
    container_name: spark-history
    hostname: spark-history
    command: >
      bash -c "/opt/spark/sbin/start-history-server.sh &&
               tail -f /dev/null"
    ports:
      - "18080:18080"
    volumes:
      - /tmp/spark-events:/tmp/spark-events
    networks:
      - spark-net

networks:
  spark-net:
